@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url(font/PressStart2P-Regular.ttf); /* Путь к файлу со шрифтом */
   }
span {
	font-family: 'Press Start 2P', cursive;
	font-size: 55px;
	text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblue;
  transition: all 1s;
}
span:hover {
    color: red;
    }